* {
  margin: 0;
}

::placeholder { 
  color: #ffffff;
  opacity: 1; 
}
:-ms-input-placeholder { 
  color: #ffffff;
}
::-ms-input-placeholder {
  color: #ffffff;
  ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
